<!-- views/partials/verb/formSections/verbFormConjugations.ejs -->
<div class="form-group">
    <label>Спряжения:</label>
    <% if (typeof conjugations === 'object' && conjugations !== null) { %>
        <% const tenses = Object.keys(conjugations); %>
        <% if (tenses.length > 0) { %>
            <% tenses.forEach(tense => { %>
                <h3><%= tense %></h3>
                <%- include('./verbDisplayConjugation', { conjugationData: conjugations[tense], tense: tense }) %>
            <% }) %>
        <% } else { %>
            <% ['present'].forEach(tense => { %>
                <h3><%= tense %></h3>
                <%- include('./verbDisplayConjugation', { conjugationData: {}, tense: tense }) %>
            <% }) %>
        <% } %>
    <% } else { %>
        <% ['present'].forEach(tense => { %>
            <h3><%= tense %></h3>
            <%- include('./verbDisplayConjugation', { conjugationData: {}, tense: tense }) %>
        <% }) %>
    <% } %>
</div>