<!-- views/partials/verb/verbDetailsEdit.ejs -->
<form action="/verbs/<%= letter %>/<%= verb %>?_method=PUT" method="POST">

    <div class="form-group">
        <label>
            Перевод:
            <button class="btn btn-outline-secondary btn-sm" type="button" id="addTranslationBtn">
                <i class="fas fa-plus-circle"></i>
            </button>
        </label>
        <div class="translation-fields" id="translationFields">
            <% if (translation && translation.translations && translation.translations.length > 0) { %>
                <div class="translation-row">
                    <% translation.translations.forEach((translationVariant, index) => { %>
                        <div class="translation-field">
                            <input type="text" class="form-control" name="translations[]" value="<%= translationVariant %>" required>
                            <% if (index > 0) { %>
                                <button class="btn btn-outline-danger btn-sm translation-remove-btn" type="button" onclick="this.closest('.translation-field').remove()">
                                    <i class="fas fa-times-circle"></i>
                                </button>
                            <% } %>
                        </div>
                        <% if ((index + 1) % 3 === 0 && index < translation.translations.length - 1) { %>
                </div><div class="translation-row">
                    <% } %>
                    <% }) %>
                </div>
            <% } %>
        </div>
    </div>

    <div class="form-group">
        <label>Спряжения:</label>
        <table class="conjugation-table">
            <thead>
            <tr>
                <th></th>
                <th>Praesens</th>
                <!-- Добавить дополнительные столбцы для других времен в будущем -->
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>ich</th>
                <td>
                    <div class="col">
                        <input type="text" class="form-control" name="conjugations[ich]" value="<%= conjugations.ich || '' %>">
                    </div>
                </td>
                <!-- Добавить дополнительные ячейки для других времен в будущем -->
            </tr>
            <tr>
                <th>du</th>
                <td>
                    <div class="col">
                        <input type="text" class="form-control" name="conjugations[du]" value="<%= conjugations.du || '' %>">
                    </div>
                </td>
                <!-- Добавить дополнительные ячейки для других времен в будущем -->
            </tr>
            <tr>
                <th>er/sie/es</th>
                <td>
                    <div class="col">
                        <input type="text" class="form-control" name="conjugations[er/sie/es]" value="<%= conjugations['er/sie/es'] || '' %>">
                    </div>
                </td>
                <!-- Добавить дополнительные ячейки для других времен в будущем -->
            </tr>
            <tr>
                <th>wir</th>
                <td>
                    <div class="col">
                        <input type="text" class="form-control" name="conjugations[wir]" value="<%= conjugations.wir || '' %>">
                    </div>
                </td>
                <!-- Добавить дополнительные ячейки для других времен в будущем -->
            </tr>
            <tr>
                <th>ihr</th>
                <td>
                    <div class="col">
                        <input type="text" class="form-control" name="conjugations[ihr]" value="<%= conjugations.ihr || '' %>">
                    </div>
                </td>
                <!-- Добавить дополнительные ячейки для других времен в будущем -->
            </tr>
            <tr>
                <th>Sie/sie</th>
                <td>
                    <div class="col">
                        <input type="text" class="form-control" name="conjugations[sie/Sie]" value="<%= conjugations['sie/Sie'] || '' %>">
                    </div>
                </td>
                <!-- Добавить дополнительные ячейки для других времен в будущем -->
            </tr>
            </tbody>
        </table>
    </div>

    <div class="form-group">
        <div class="table-container">
            <div class="table-wrapper">
                <label>
                    Предложения:
                    <button class="btn btn-outline-secondary btn-sm add-btn" type="button" id="addSentenceBtn">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </label>
                <table id="sentenceTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="move-header"></th>
                        <th>Предложение</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody id="sentenceTableBody">
                    <% if (Array.isArray(sentences) && sentences.length > 0) { %>
                        <% sentences.forEach((sentenceObj, index) => { %>
                            <tr data-sentence-id="<%= sentenceObj.sentence_id %>">
                                <td class="move-cell"><i class="fas fa-bars"></i></td>
                                <td>
                                    <input type="text" class="form-control" name="sentences[]" value="<%= sentenceObj.sentence %>">
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger btn-sm" type="button" onclick="removeSentenceRow(this)">
                                        <i class="fas fa-times-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
            <div class="table-wrapper">
                <label>
                    Перевод предложений:
                    <button class="btn btn-outline-secondary btn-sm add-btn" type="button" id="addSentenceTranslationBtn">
                        <i class="fas fa-plus-circle"></i>
                    </button>
                </label>
                <table id="sentenceTranslationTable" class="table table-bordered">
                    <thead>
                    <tr>
                        <th class="move-header"></th>
                        <th>Перевод</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody id="sentenceTranslationTableBody">
                    <% if (Array.isArray(sentencesTranslation) && sentencesTranslation.length > 0) { %>
                        <% sentencesTranslation.forEach((translationObj, index) => { %>
                            <tr data-sentence-id="<%= translationObj.sentence_id %>">
                                <td class="move-cell"><i class="fas fa-bars"></i></td>
                                <td>
                                    <input type="text" class="form-control" name="sentencesTranslation[]" value="<%= translationObj.sentence %>">
                                </td>
                                <td>
                                    <button class="btn btn-outline-danger btn-sm" type="button" onclick="removeSentenceTranslationRow(this)">
                                        <i class="fas fa-times-circle"></i>
                                    </button>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>