<!-- views/partials/pagination.ejs -->
<% if (typeof currentPage !== 'undefined' && typeof totalPages !== 'undefined') { %>
    <div class="pagination">
        <% if (currentPage > 1) { %>
            <% if (letter) { %>
                <a href="<%= getNamedRoute('verbs.letter.page', { letter: letter, page: currentPage - 1 }) %>" class="pagination-link">Назад</a>
            <% } else { %>
                <a href="<%= getNamedRoute('verbs.page', { page: currentPage - 1 }) %>" class="pagination-link">Назад</a>
            <% } %>
        <% } else { %>
            <span class="pagination-disabled">Назад</span>
        <% } %>
        <% for (let i = 1; i <= totalPages; i++) { %>
            <% if (i === currentPage) { %>
                <span class="pagination-current"><%= i %></span>
            <% } else { %>
                <% if (letter) { %>
                    <a href="<%= getNamedRoute('verbs.letter.page', { letter: letter, page: i }) %>" class="pagination-link"><%= i %></a>
                <% } else { %>
                    <a href="<%= getNamedRoute('verbs.page', { page: i }) %>" class="pagination-link"><%= i %></a>
                <% } %>
            <% } %>
        <% } %>
        <% if (currentPage < totalPages) { %>
            <% if (letter) { %>
                <a href="<%= getNamedRoute('verbs.letter.page', { letter: letter, page: currentPage + 1 }) %>" class="pagination-link">Вперед</a>
            <% } else { %>
                <a href="<%= getNamedRoute('verbs.page', { page: currentPage + 1 }) %>" class="pagination-link">Вперед</a>
            <% } %>
        <% } else { %>
            <span class="pagination-disabled">Вперед</span>
        <% } %>
    </div>
<% } %>